@import "utils";

.recommendations {
  background: hsl(var(--card));
  border-radius: var(--radius);
  padding: 20px;

  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 30px;
  }
  @media (min-width: 1280px) {
    padding: 36px calc((100vw - 1280px + 60px) / 2);
  }

  .heading {
    @include font-roboto(500);
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    color: hsl(var(--primary));
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .recommendation-grid {
    display: grid;
    grid-row-gap: 16px;
    grid-template-columns: repeat(2, 1fr);

    @media (min-width: 400px) {
      grid-column-gap: 16px;
    }
    @media (min-width: 580px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: 960px) {
      grid-template-columns: repeat(5, 1fr);
    }
    @media (min-width: 1152px) {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
